---
import Navbar from '../components/navbar.astro'
import Footer from '../components/footer.astro'
import Card from '../components/card.astro'
---

<html lang="en">
  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
			integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<title>Tech People Blog</title>
	</head>
  <body class="">

		<Navbar />
    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
      <!-- Top Grid -->
      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
        <div>
          <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
            Articles, Stories & Tutorials for Tech People
          </h1>

          <form id="search-form" class="flex items-center">
            <label for="search-input" class="sr-only">Search</label>
            <div class="relative w-full">
              <input
                type="text"
                id="query"
                name="query"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                placeholder="Search articles..."
                required
              />
            </div>
            <button
              type="submit"
              class="p-2.5 ms-2 text-sm font-medium text-white bg-indigo-700 rounded-lg border border-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300"
            >
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
              <span class="sr-only">Search</span>
            </button>
          </form>
        </div>
        <!-- Most Recent Article -->
        <div class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl">
          <a href="article.html">
          <img src="images/image1.png" alt="Article Image" class="w-full h-auto rounded-2xl" />

          <div
            class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-75 transition duration-300 ease-in-out text-white text-center rounded-2xl"
          >
            <div>
              <h2 class="text-2xl font-semibold sm:text-3xl">
                  The best laptops for developers in 2024
              </h2>
              <p class="text-xl mt-4">January 20, 2024</p>

              <!-- Tags with rounded border -->
              <div class="flex mt-4 justify-center">
                <span
                  class="px-2 py-1 border text-white rounded-full text-xs mr-2"
                  >Tech</span
                >
                <span
                  class="px-2 py-1 border text-white rounded-full text-xs mr-2"
                  >Hardware</span
                >
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>

      <!-- Main Grid -->
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        <!-- Article Card -->
				<Card
					imageUrl="image2.png"
					title="Guardian of the Digital Realm: Web Security"
					articleDate="January 19, 2024"
					tags={['Code', 'Software']}
				/>
				<!-- Article Card -->
				<Card
					imageUrl="image3.png"
					title="Immerse in the Virtual World: VR Development"
					articleDate="January 18, 2024"
					tags={['VR', 'Tech']}
				/>
				<!-- Article Card -->
				<Card
					imageUrl="image4.png"
					title="Elevate Your Mobile Experience with Samsung"
					articleDate="January 17, 2024"
					tags={['Smartphones', 'Samsung']}
				/>
        <!-- Article Card -->
				<Card
					imageUrl="image5.png"
					title="Soaring to New Heights: The World of Drones"
					articleDate="January 16, 2024"
					tags={['Drones', 'Tech']}
				/>
        <!-- Article Card -->
				<Card
					imageUrl="image6.png"
					title="Capturing Life's Moments with Canon Excellence"
					articleDate="January 14, 2024"
					tags={['Cameras', 'Gadgets']}
				/>
        <!-- Article Card -->
				<Card
					imageUrl="image7.png"
					title="Unleash Creativity With These Cutting-Edge Tablets"
					articleDate="January 13, 2024"
					tags={['Gadgets', 'Tablets']}
				/>
      </div>
    </div>

		<Footer />
  </body>
</html>
